* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h6, p {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Smythe', sans-serif;
  width: 600px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

.header {
  padding: 60px;
  color: #FFF;
  line-height: 61.54%;
  background-image: url('./assets/images/ferks-guare.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-title {
  font-size: 39px;
  font-weight: 400;
  margin-bottom: 20px;
}

.header-text {
  font-size: 22px;
  font-weight: 400;
}

main {
  height: 1046px;
}

.menu-container {
  padding: 20px 60px 0;
}

.menu-block {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D2D2D2;
  padding: 51px 0;
}

.dish-image {
  width: 70px;
  height: 89px;
  margin-right: 31px;
}

.dish-name {
  font-size: 28px;
  font-weight: 400;
  line-height: 60%;
  margin-bottom: 9px;
}

.dish-description {
  color: #8B8B8B;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 8px;
}

.dish-price {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.add-dish-btn {
  width: 50px;
  height: 50px;
  border: 1.5px solid #DEDEDE;
  border-radius: 50%;
  background-color: #fff;
  margin-left: auto;

  color: #3C3C3C;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 200;
  line-height: 75%;
  padding-bottom: 6px;
}

.add-dish-btn:hover {
  border-color: black;
}

.add-dish-btn:active {
  transform: scale(1.1);
}

.add-dish-btn:disabled,
.add-dish-btn:disabled:hover,
.add-dish-btn:disabled:active {
  border-color: #DEDEDE;
  transform: scale(1);
}

.total-order-container {
  padding: 45px 60px;
}

.order-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 60%;
  text-align: center;
  margin-bottom: 64px;
}

.order-list {
  margin: 0 0 14px;
  padding: 0 0 9px;
  border-bottom: 2px solid #393333;
}

.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.order-item-name {
  font-size: 28px;
  font-weight: 400;
  line-height: 60%;
  margin-right: 13px;
}

.remove-item-btn {
  color: #BBB;
  font-family: Verdana;
  font-size: 12px;
  font-weight: 400;
  line-height: 200%;

  border: none;
  padding: 0;
  background: transparent;
}

.remove-item-btn:hover {
  color: red;
}

.remove-item-btn:active {
  color: black;
}

.remove-item-btn:disabled,
.remove-item-btn:disabled:hover,
.remove-item-btn:disabled:active {
  color: #BBB;
}

.order-item-detail {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  width: 50px;
}

.order-item-amount {
  margin-left: auto;
  margin-right: 30px;
}

.order-item-price {
  text-align: right;
}

.total-price-container {
  display: flex;
  margin-bottom: 53px;
  color: #0E0E0E;
}

.total-price-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 85.71%;
}

.total-price {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: red;
  text-decoration: line-through;
  margin-left: auto;
  margin-right: 30px;
}

.total-price-discont {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.complete-order-btn, .new-order-btn {
  border-radius: 3px;
  background-color: #16DB99;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  border: none;
  padding: 18px;
  width: 100%;

  color: #FFF;
  font-family: Verdana;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}

.complete-order-btn:hover, .new-order-btn:hover {
  background-color: #09af78;
}

.complete-order-btn:active, .new-order-btn:active {
  color: rgb(192, 7, 68);
}

.complete-order-btn:disabled,
.complete-order-btn:disabled:hover,
.complete-order-btn:disabled:active {
  background-color: #5a5e5c;
  color: #FFF;
}

.modal {
  display: none;
  position: absolute;
  top: 310px;
  left: 50%;
  transform: translateX(-50%);

  padding: 27px 24px 47px;
  width: 524px;
  border-radius: 4px;
  background: #FFF;

  color: #000;
  font-family: Verdana;
  text-align: center;
}

.modal-close-btn {
  margin-bottom: 10px;
  align-self: flex-end;
}

.modal-close-btn:hover {
  color: rgb(235, 8, 8);
  font-weight: bold;
  transform: scale(1.1);
}

.modal-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 129.66%;
  margin-bottom: 46px;
}

.form {
  display: flex;
  row-gap: 30px;
  flex-direction: column;
}

.modal-label {
  position: absolute;
  top: 0;
  left: -9999px;
}

.modal-input {
  padding: 15px 27px;
  border-radius: 4px;
  border-color: rgba(117, 117, 117, 0.3);
  outline: none;
}

.modal-input::placeholder {
  color: #757575;
  font-family: Verdana;
  font-size: 20px;
  font-weight: 400;
  line-height: 155.6%;
}

.input-cvv {
  margin-bottom: 26px;
}

.modal-btn {
  border-radius: 4px;
  border: none;
  padding: 15px;
  background-color: #16DB99;

  color: #FFF;
  font-family: Verdana;
  font-size: 20px;
  font-weight: 700;
  line-height: 155.6%;
}

.modal-btn:hover {
  background-color: #09af78;
}

.modal-btn:active {
  color: rgb(192, 7, 68);
}

.thanks {
  text-align: center;
  color: #065F46;
  font-family: Smythe;
  font-size: 32px;
  font-weight: 400;
  line-height: 52.5%;

  padding: 51px;
  border-radius: 3px;
  background: #ECFDF5;
  margin-bottom: 10px;
}

.rate-container {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 30px;
}

.rate-title {
  color: #fe330c;
  font-size: 24px;
  font-style: italic;
}

.stars-container {
  display: flex;
  column-gap: 7px;
  width: 155px;
}

.star {
  width: 25px;
  height: 25px;
  background-image: url('./assets/images/star.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.star-active {
  width: 25px;
  height: 25px;
  background-image: url('./assets/images/star-active.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
